{% load static %}
<!DOCTYPE html>
<html lang="zxx">

<head>
    <meta charset="UTF-8">
    <meta name="description" content="Ogani Template">
    <meta name="keywords" content="Ogani, unica, creative, html">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Jardineria</title>

    <!-- Google Font -->
    <link href="https://fonts.googleapis.com/css2?family=Cairo:wght@200;300;400;600;900&display=swap" rel="stylesheet">

    <!-- Css Styles -->
    <link rel="stylesheet" href="{% static 'core/css/bootstrap.min.css' %}" type="text/css">
    <link rel="stylesheet" href="{% static 'core/css/font-awesome.min.css' %}" type="text/css">
    <link rel="stylesheet" href="{% static 'core/css/elegant-icons.css' %}" type="text/css">
    <link rel="stylesheet" href="{% static 'core/css/nice-select.css' %}" type="text/css">
    <link rel="stylesheet" href="{% static 'core/css/jquery-ui.min.css' %}" type="text/css">
    <link rel="stylesheet" href="{% static 'core/css/owl.carousel.min.css' %}" type="text/css">
    <link rel="stylesheet" href="{% static 'core/css/slicknav.min.css' %}" type="text/css">
    <link rel="stylesheet" href="{% static 'core/css/style.css' %}" type="text/css">
    
    {% block css %}

    {% endblock %}
</head>



<body>
    <!-- Page Preloder -->
    <div id="preloder">
        <div class="loader"></div>
    </div>



    <!-- Header Section Begin -->
    <header class="header">
        <div class="header__top">
            <div class="container">
                <div class="row">
                    <div class="col-lg-6 col-md-6">
                        <div class="header__top__left">
                            <ul>
                                {% if user.is_authenticated and user.username == 'admin' %}
                                <li><a href="{% url 'admin:index' %}" style="color: black;"><i class="fa fa-user"></i> {{ user.username }}</a></li>
                                {% elif user.is_authenticated and user.username != 'admin' %}
                                <li><a href="#" style="color: black;"><i class="fa fa-user"></i> {{ user.username }}</a></li>
                               {% endif %}
                                <li>suscribete realizando una donacion</li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-6">
                        <div class="header__top__right">
                            <div class="header__top__right__social">
                                <a href="#"><i class="fa fa-facebook"></i></a>
                                <a href="#"><i class="fa fa-twitter"></i></a>
                            </div>
                            <div class="header__top__right__auth">
                                {% if user.is_authenticated %}
                                <a href="{% url 'logout' %}"><i class="fa fa-user"></i> Cerrar Sesion</a>
                                {% else %}
                                <a href="{% url 'login' %}"><i class="fa fa-user"></i> iniciar sesion</a>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-lg-3">
                    <div class="header__logo">
                        <a href="{% url 'index' %}"><img src="{% static 'core/img/logo' %}" alt=""></a>
                    </div>
                </div>
                <div class="col-lg-6">
                    <nav class="header__menu">
                        <ul>                        
                            <li><a href="{% url 'index' %}">inicio</a></li>
                            <li><a href="{% url 'shopgrid' %}">Productos</a></li>
                            {% if user.is_authenticated and user.username == 'admin' %}
                            <li><a href="{% url 'add' %}">Añadir producto</a></li>
                            {% elif user.is_authenticated and user.username != 'admin' %}
                            <li><a href="{% url 'seguimiento' %}">Sigue tu pedido</a></li>  
                            <li><a href="{% url 'suscripcion' %}">Suscribete</a></li>
                            {% else %}
                            <li><a href="{% url 'crear' %}">Crear cuenta</a></li>     
                            {% endif %}               
                        </ul>
                    </nav>
                </div>
                <div class="col-lg-3">
                    <div class="header__cart">
                        <ul>
                            <li><a href="#"><i class="fa fa-heart"></i> <span>1</span></a></li>
                            
                            <li><a href="{% url 'shopingcart' %}"><i class="fa fa-shopping-bag"></i> <span>3</span></a></li>
                        </ul>
       
                    </div>
                </div>
            </div>
            <div class="humberger__open">
                <i class="fa fa-bars"></i>
            </div>
        </div>
    </header>

    {% block contenido %}

    {% endblock %}

    <footer class="footer spad">
        <div class="container">
            <div class="row">
                <div class="col-lg-3 col-md-6 col-sm-6">
                    <div class="footer__about">
                        <div class="footer__about__logo">
                            <a href="{% url 'index' %}"><img src="{% static 'core/img/logo' %}" alt=""></a>
                        </div>
                        <ul>
                            <li>direccion: la casa del mario</li>
                            <li>Phone: +56911111111</li>
                            <li>Email: contactojardineria@gmail.com</li>
                        </ul>
                    </div>
                </div>


               
                <div class="col-lg-4 col-md-6 col-sm-6 offset-lg-1">


      



                </div>
                <div class="col-lg-4 col-md-12">
                    <div class="footer__widget">
                        <h6>¿tienes un problema?</h6>
                        <p>Ingresa tu correo y te contactaremos </p>
                        <form action="#">
                            <input type="text" placeholder="Ingresa correo">
                            <button type="submit" class="site-btn">Enviar</button>
                        </form>
                        <div class="footer__widget__social">
                            <a href="#"><i class="fa fa-facebook"></i></a>
                            <a href="#"><i class="fa fa-instagram"></i></a>
                            <a href="#"><i class="fa fa-twitter"></i></a>
                            <a href="#"><i class="fa fa-pinterest"></i></a>
                        </div>
                    </div>
                </div>


                
            </div>
 
        </div>
    </footer>


    <!-- Js Plugins -->
    <script src="{% static 'core/js/jquery-3.3.1.min.js' %}"></script>
    <script src="{% static 'core/js/bootstrap.min.js' %}"></script>
    <script src="{% static 'core/js/jquery.nice-select.min.js' %}"></script>
    <script src="{% static 'core/js/jquery-ui.min.js' %}"></script>
    <script src="{% static 'core/js/jquery.slicknav.js' %}"></script>
    <script src="{% static 'core/js/mixitup.min.js' %}"></script>
    <script src="{% static 'core/js/owl.carousel.min.js' %}"></script>
    <script src="{% static 'core/js/main.js' %}"></script>
    <script src="{% static 'core/js/mensaje.js' %}"></script>
    <script src="{% static 'core/js/confirma.js' %}"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>

    {% block js %}

    {% endblock %}
</body>

</html>    